<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/1.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Sensação
			</h1>
			<h2 class="h2-left">
				Creme Branco, Morango,<br>
				Creme Chamego Bom
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/2.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Marta Rocha
			</h1>
			<h2 class="h2-right">
				Ameixa Cozida, Chantilly<br>
				Lascas Crocantes, Damasco Cozido,<br>
				suspiro
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/3.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Brigadeiro
			</h1>
			<h2 class="h2-left">
				Brigadeiro de panela,<br>
				Creme Chamego Bom e Chocolate Granulado
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/4.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Prestígio
			</h1>
			<h2 class="h2-right">
				Creme de Coco,
				Creme Chamego Bom e coco
			</h2>
		</label>
	</div>
</div>