<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/1.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Sensação
			</h1>
			<h2 class="h2-left">
				Creme Branco, Morango,<br>
				Creme Chamego Bom
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/2.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Marta Rocha
			</h1>
			<h2 class="h2-right">
				Ameixa Cozida, Chantilly<br>
				Lascas Crocantes, Damasco Cozido,<br>
				suspiro
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/3.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Brigadeiro
			</h1>
			<h2 class="h2-left">
				Brigadeiro de panela,<br>
				Creme Chamego Bom e Chocolate Granulado
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/4.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Prestígio
			</h1>
			<h2 class="h2-right">
				Creme de Coco,<br>
				Creme Chamego Bom e coco
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/5.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Morango
			</h1>
			<h2 class="h2-left">
				Morango com Chantilly<br>
				Leite Condensado
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/6.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Sonho de Valsa
			</h1>
			<h2 class="h2-right">
				Chantilly de Chocolate, <br>
				Creme e Sonho de valsa
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/7.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Divina
			</h1>
			<h2 class="h2-left">
				Creme Branco,<br>
				Abacaxi e Coco
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/8.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Amendoim
			</h1>
			<h2 class="h2-right">
				Doce de Leite,<br>
				Leite Condensado e Amendoim
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/9.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Floresta Negra
			</h1>
			<h2 class="h2-left">
				Chantilly de Chocolate<br>
				Cereja e Raspas de Chocolate
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/10.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Trufado
			</h1>
			<h2 class="h2-right">
				Chocolate Branco, <br>
				Chantilly e Morango
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/11.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Quatro Leites
			</h1>
			<h2 class="h2-left">
				Creme de Quatro Leites e<br>
				Lascas de Chocolate Branco
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/12.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Bombom com Morango
			</h1>
			<h2 class="h2-right">
				Chantilly de Chocolate, <br>
				Morango e Bombom
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/13.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Ouro Branco
			</h1>
			<h2 class="h2-left">
				Creme Branco<br>
				Ouro Branco
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/14.jpg" alt="">
		<label class="text-right label-right">
			<h1 class="h1-right">
				Padre
			</h1>
			<h2 class="h2-right">
				Creme Branco, <br>
				Creme Preto e Raspas de Chcolate
			</h2>
		</label>
	</div>
</div>
<div class="row mt-3 m-0">
	<div class="col p-0 m-0">
		<img class="img-sabor" src="images/bolos/15.jpg" alt="">
		<label class="label-left">
			<h1 class="h1-left">
				Tentação
			</h1>
			<h2 class="h2-left">
				Chantilly com Morango,<br>
				Creme Branco, Creme de Chocolate Branco
			</h2>
		</label>
	</div>
</div>