<div class="row row-height align-self-center">
	<div class="col align-self-center">
		<i class="fas fa-map-marker-alt"></i>
		<h1>Rua: Alóis Finder, 1568 - Aventureiro, Joinville/SC</h1>
	</div>
	<div class="col align-self-center">
		<i class="fas fa-phone-alt"></i>
		<h1>(47) 3425-2876</h1>
	</div>
	<div class="col align-self-center">
		<i class="far fa-envelope"></i>
		<h1>sac@panificadorapandeca.com.br</h1>
	</div>
</div>