<div class="row justify-content-center mt-3 no-gutters">
    <div class="col-8 align-self-center">
      <p class="encomendas-p text-right">Aceitamos encomendas <br> de pães, bolos, doces e salgados.</p>
    </div>
    <div class="col-4">
      <img class="anim1" src="images/encomendas/1.svg">
    </div>
  </div>

  <div class="row mt-3 mr-0">
    <div class="col-4 text-right mr-0 p-0 no-gutters">
      <img class="anim2" src="images/encomendas/2.svg">
    </div>
    <div class="col-8 ml-0 p-0 align-self-center">
      <p class="encomendas-p text-left">
        Pedidos devem ser feitos
        <br>com pelo menos um dia de antecedência.
        <br>Orçamentos podem ser solicitados por whatsapp
      </p>
      <a class="whats-btn" href="https://api.whatsapp.com/send/?1=pt_BR&phone=5504734252876&text=Orcamento" target="_blank"><i class="fab fa-whatsapp"></i> Solicite Seu orçamento</a>
    </div>
  </div>

  <div class="row justify-content-center mt-3 no-gutters">
    <div class="col-8 align-self-center encomendas text-right">
      <p class="encomendas-p text-right">
        Aprovou o pedido?
        <br>Agora é só aguardar.</p>
        Não esqueça de registrar o momento e nos marcar nas redes sociais
        <a href="http://facebook.com/pandecapanificadora" target="_blank" style="margin-left: 30px; margin-right: 10px;"><i class="fab fa-facebook-square fa-lg text-body"></i></a>
      <a href="https://www.instagram.com/pandeca_panificadora/" target="_blank"><i class="fab fa-instagram-square fa-lg text-body"></i></a>
    </div>
    <div class="col-4">
      <img class="anim1" src="images/encomendas/3.svg">
    </div>
  </div>

  <div class="row m-0 p-5">
    <div class="col p-3 text-center papel-arroz rounded">
      <i class="fas fa-paint-brush anim3"></i> Fazemos papel arroz personalizados! Aceitamos encomendas
    </div>
  </div>