<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/95478cb03c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container-fluid">

      <div class="header justify-content-center text-center">
        <p>
          <i class="fas fa-map-marker-alt fa-sm"></i> Rua Alois Finder, 1568 - Aventureiro - Joinville
          <i class="fas fa-phone-alt fa-sm" style="margin-left: 20px;"></i> (47) 3425-2876

          <a href="http://facebook.com/pandecapanificadora" target="_blank" style="margin-left: 30px; margin-right: 10px;"><i class="fab fa-facebook-square fa-lg text-body"></i></a>
          <a href="https://www.instagram.com/pandeca_panificadora/" target="_blank"><i class="fab fa-instagram-square fa-lg text-body"></i></a>
        </p>

        <a href="https://api.whatsapp.com/send/?1=pt_BR&phone=5504734252876" class="btn-whats-header">
          <div class="whats-header col-12-lg">
            FALE CONOSCO NO WHATSAPP
          </div>
        </a>
      </div>

      <div class="row m-0 p-0 pt-2 text-center menu">
        <div class="col align-self-center text-right">
          <a href="#inicio">Home</a>
          <a href="#encomendas">Encomendas</a>
        </div>
        <div class="col-2 align-self-center m-0">
          <img src="images/logo.png" width="100%" alt="pandeca panificadora">
        </div>
        <div class="col align-self-center m-0 text-left">
          <a href="#bolos">Bolos</a>
          <a href="#contato">Contato</a>
        </div>
      </div>

          <%- include('carousel'); -%>

    </div>

    <div class="container-fluid" id="encomendas">
      <div class="row justify-content-center mt-3 no-gutters">
        <div class="col-8 align-self-center">
          <p class="encomendas-p text-right">Aceitamos encomendas <br> de pães, bolos, doces e salgados.</p>
        </div>
        <div class="col-4">
          <img class="anim1" src="images/encomendas/1.svg">
        </div>
      </div>

      <div class="row mt-3 mr-0">
        <div class="col-4 text-right mr-0 p-0 no-gutters">
          <img class="anim2" src="images/encomendas/2.svg">
        </div>
        <div class="col-8 ml-0 p-0 align-self-center">
          <p class="encomendas-p text-left">
            Pedidos devem ser feitos
            <br>com pelo menos um dia de antecedência.
            <br>Orçamentos podem ser solicitados por whatsapp
          </p>
          <a class="whats-btn" href="https://api.whatsapp.com/send/?1=pt_BR&phone=5504734252876&text=Orcamento" target="_blank"><i class="fab fa-whatsapp"></i> Solicite Seu orçamento</a>
        </div>
      </div>

      <div class="row justify-content-center mt-3 no-gutters">
        <div class="col-8 align-self-center text-right">
          <p class="encomendas-p text-right">
            Aprovou o pedido?
            <br>Agora é só aguardar.</p>
            Não esqueça de registrar o momento e nos marcar nas redes sociais
            <a href="http://facebook.com/pandecapanificadora" target="_blank" style="margin-left: 30px; margin-right: 10px;"><i class="fab fa-facebook-square fa-lg text-body"></i></a>
          <a href="https://www.instagram.com/pandeca_panificadora/" target="_blank"><i class="fab fa-instagram-square fa-lg text-body"></i></a>
        </div>
        <div class="col-4">
          <img class="anim1" src="images/encomendas/3.svg">
        </div>
      </div>

      <div class="row m-0 p-5">
        <div class="col p-3 text-center papel-arroz rounded">
          <i class="fas fa-paint-brush anim3"></i> Fazemos papel arroz personalizados! Aceitamos encomendas
        </div>
      </div>

      <a href="https://api.whatsapp.com/send/?1=pt_BR&phone=5504734252876" target="_blank" class="whatsapp"><img src="images/whatsapp.svg" width="70" /></a>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
